.box {
  box-shadow: 0px 1px 10px -5px;
}

.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}

ul.options {
  list-style: none;
}

ul.options li:before {
  content: "✓";
  color: green;
  margin-right: 5px;
}
ul.options li {
  display: inline;
  padding-right: 5px;
  padding-left: 10px;
}
